.bulle {
    position: relative;
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 50%;  /* Cela rend la bulle circulaire */
    overflow: hidden;
    align-items: left;
  }
  
  .bulle img {
    width: 200px;  /* Ajustez la taille de l'image */
    height: 250px; /* Ajustez la taille de l'image */
    border-radius: 50%; /* Si vous souhaitez une image ronde */
  }
  
  .bulle::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Décalage vers le bas pour positionner la queue de la bulle */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f1f1f1; /* La couleur de la bulle */
  }
  